* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.term_ip {
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  display: inline;
  white-space: nowrap;
  margin-left: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  display: none;
}
